@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gray-1: #a09b8c;
  --gray-1-5: #5b5a56;
  --gray-2: #3c3c41;
  --gray-3: #1e2328;
  --gray-cool: #1e282d;
  --magic-engineering-black: #010a13;
  --gold: #c89b3c;
  --gold-light: #f0e6d2;
  --blue: #0a323c;
}

header {
  background: var(--gray-cool);
}

footer {
  background: var(--gray-cool);
}

main {
  background: var(--blue);
}

.dark header {
  background: var(--magic-engineering-black);
}

.dark footer {
  background: var(--magic-engineering-black);
}

.dark main {
  background: var(--gray-3);
}
